.header {
    width: 100%;
    min-height: 52px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #09131de5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>* {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.header>a {
    margin-inline: auto;
    margin-top: -4px;
}

.header>a * {
    pointer-events: none;
}

.header>div:not(.savedbar) {
    min-width: 120px;
}

.header .logo {
    height: 38px;
    fill: currentColor;
}

.header .logo-text h3 {
    font-weight: 300;
}

.header .logo-text h4 {
    font-size: 13px;
}

.header .offline {
    position: fixed;
    top: 52px;
    left: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff5d5d;
    z-index: 2;
    color: #333;
}

.savedbar {
    position: fixed;
    overflow-y: scroll;
    background-color: #09131de5;
    top: 4.5rem;
    left: .5rem;
    border: transparent solid 0px;
    border-radius: .5rem;
    max-height: calc(100vh - 7rem);
    min-width: 0;
    max-width: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

.savedbar+.close {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #0f1d2a8f;
}

.savedbar.active+.close {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.savedbar.active {
    min-height: calc(100vh - 7rem);
    min-width: 22rem;
    max-width: 22rem;
    border: transparent solid .5rem;
    overflow: auto;
}

.savedbar>div {
    overflow-y: scroll;
    min-height: calc(100vh - 8rem);
}

.savedbar::-webkit-scrollbar,
.savedbar>div::-webkit-scrollbar {
    display: none;
}