header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #09131de5;
}

.header {
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>* {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.header>a {
    margin-inline: auto;
    margin-top: -4px;
}

.header>a * {
    pointer-events: none;
}

.header>div:not(.savedbar) {
    min-width: 120px;
}

.header .logo {
    height: 38px;
    fill: currentColor;
}

.header .logo-text h3 {
    font-weight: 300;
}

.header .logo-text h4 {
    font-size: 13px;
}

.header .offline {
    position: fixed;
    top: 52px;
    left: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff5d5d;
    z-index: 2;
    color: #333;
}

.savedbar {
    position: fixed;
    width: 100%;
    height: 0;
    z-index: 2;
}

.savedbar+.close {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #0f1d2a8f;
}

.savedbar.active+.close {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.savedbar>div {
    overflow-y: scroll;
    background-color: #09131de5;
    margin-top: 48px;
    margin-left: 16px;
    border: transparent solid 0px;
    border-radius: 4px;
    height: 0;
    width: calc(100% - 32px);
    overflow: hidden;
    transition: all 200ms ease-in-out;
}

.savedbar.active>div {
    height: calc(100vh - 96px);
    max-height: calc(100vh - 96px);
    height: fit-content;
    padding-bottom: 16px;
    border: transparent solid 2px;
    overflow: auto;
}

.savedbar .heading  {
    padding: 16px;
    padding-top: 32px;
    text-align: center;
}

.savedbar .entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.savedbar::-webkit-scrollbar,
.savedbar>div::-webkit-scrollbar {
    display: none;
}
