.preview {
    margin-block: 64px !important;
}

.preview>h2,
.preview>p {
    text-align: center;
}

.preview>p {
    padding-block: 16px;
}

.preview .imgs {
    display: flex;
    overflow: scroll;
    padding-block: 16px;
}

