.usr-ph {
    height: 360px;
}

.pagination {
    padding: 4px;
    max-width: 80px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.pagination>* {
    width: 100%;
    text-align: center;
}

.pagination>.previous,
.pagination>.next {
    width: 32px;
    cursor: pointer;
}

.pagination>.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.main {
    display: flex;
    min-height: 100vh;
}

.toggle {
    padding: 16px;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.5;
}

.toggle:hover {
    opacity: 1;
}

.content {
    padding-top: 64px;
    padding-bottom: 32px;
    width: 100%;
}

.content.home>*:not(.content.home>*:first-child) {
    margin-block: 22px;
}

.content.recommendations {
    display: flex;
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
}

.content.recommendations .sidebar,
.content.recommendations .wrapper {
    height: 100%;
    overflow: scroll;
    padding-top: 64px;
    padding-bottom: 32px;
}

.sidebar {
    width: 95%;
    flex-shrink: 0.7;
    overflow: hidden;
    max-width: 0px;
    transition: all 180ms ease-in-out;
}

.toggle:hover~.sidebar:not(.active),
.sidebar:hover:not(.active) {
    overflow: auto;
    max-width: 260px;
    padding-right: 12px;
}

.sidebar.active {
    overflow: auto;
    max-width: 332px;
    padding-right: 12px;
}

.sidebar .data {
    padding-top: 8px;
}

.sidebar .data>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 10px;
}

.sidebar .data>div:nth-child(2n) {
    background-color: #ffffff05;
}

.sidebar .data>div>span {
    padding: 16px;
}

.sidebar .all-users {
    padding: 16px;
}

.sidebar .data>div:hover {
    background-color: #09131d22;
}

.sidebar .data>div.active {
    background-color: #09131de5;
}

.content .description .title {
    margin-left: 16px;
}

.content .pagination {
    margin-right: 16px;
}

.sidebar .description .title {
    margin-left: 10px;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.description .pagination {
    margin-left: 0;
    flex-shrink: 0;
    width: 100%;
}

.wrapper {
    width: 100%;
}

.wrapper>.data {
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .content {
        max-width: 100vw;
        overflow-x: hidden;
    }

    .sidebar {
        width: 95%;
        flex-shrink: 0.7;
        overflow: hidden;
        max-width: 0px;
        transition: all 180ms ease-in-out;
    }

    .toggle {
        padding: 6px;
    }

    .toggle:hover~.sidebar:not(.active),
    .sidebar:hover:not(.active) {
        overflow: hidden;
        max-width: 0;
        padding-right: 0;
    }

    .sidebar.active {
        overflow: auto;
        max-width: 100vw;
        flex-shrink: 0;
        padding-right: 36px;
    }
}
